<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVTr.Properties.Settings.QLVT_DATHANG_MASTER_ConnectionString"
            connectionString="Data Source=DESKTOP-FMM0IFG;Initial Catalog=QLVT_DATHANG;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="QLVTr.Properties.Settings.QLVT_DATHANG1ConnectionString"
            connectionString="Data Source=DESKTOP-FMM0IFG\MSSQLSERVER1;Initial Catalog=QLVT_DATHANG;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>